html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  overflow: hidden;
  margin: 0;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  text-align: left;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50em;
  width: 100%;
  bottom: -.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

body {
  margin: 0;
}

h2 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: inline;
}

p {
  font-style: italic;
  font-size: 2rem;
  display: inline-block;
  margin-top: .5rem;
}
